  :root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}
 
 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: #1e1e1e;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
      display: flex;
    }

    .game-board  {
      width: 500px;
      height: 400px;
      border-bottom: 15px solid #2ecc71;
      position: relative;
      overflow: hidden;
      background: linear-gradient(#87CEEB, #E0F6FF);
    }

    .mario {
      position: absolute;
      bottom: 0;
      width: 60px;
    }

    .jump {
      animation: jump 600ms ease-out;
    }

    @keyframes jump {
      0% {
        bottom: 0px;
      }
      40% {
        bottom: 150px;
      }
      50% {
        bottom: 150px;
      }
      60% {
        bottom: 150px;
      }
      100% {
        bottom: 0;
      }
    }

   .nuvem {
  position: absolute;
  top: 30px;       /* altura inicial da nuvem */
  left: -150px;     /* começa fora da tela à esquerda */
  width: 300px;
  animation: nuvem-move 20s linear infinite; /* duração e loop */
}

@keyframes nuvem-move {
  0% {
    left: -150px;
  }
  100% {
    left: 550px; /* passa por toda a tela do game-board (500px) */
  }
}


    .pipe {
      position: absolute;
      bottom: 0;
      width: 90px;
      right: -90px;
      animation: pipe-animation 1.5s infinite linear;
    }

    @keyframes pipe-animation {
      from {
        right: -60px;
      }
      to {
        right: 600px;
      }
    }
  
   .game-over {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: fantasy;
  font-size: 32px;
  color: red;
  background: rgba(0, 0, 0, 0.3);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.game-over.show {
  opacity: 1;
  pointer-events: auto;
}

.game-over button {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #7e31f8;
  color: white;
}

.game-over button:hover {
  background: #27ae60;
}
